/* LiBroadcastEditor Settings Export */
/* Generated: 2026-03-13T23:54:34.766Z */
:root {
  --bc-setting-arrow-primary-color: "#15781b";
  --bc-setting-arrow-quaternary-color: "#e68f00";
  --bc-setting-arrow-secondary-color: "#882020";
  --bc-setting-arrow-tertiary-color: "#003088";
  --bc-setting-board-dark-color: "#5e5e5e";
  --bc-setting-board-light-color: "#cccccc";
  --bc-setting-board-radius: "0";
  --bc-setting-clock-black-bg-color: "#262421";
  --bc-setting-clock-black-bg-opacity: "100";
  --bc-setting-clock-black-color: "#ffffff";
  --bc-setting-clock-black-text-opacity: "100";
  --bc-setting-clock-border-color: "#ffaa00";
  --bc-setting-clock-border-opacity: "59";
  --bc-setting-clock-border-width: "1";
  --bc-setting-clock-font: "";
  --bc-setting-clock-font-weight: "";
  --bc-setting-clock-radius: "0";
  --bc-setting-clock-white-bg-color: "#ffffff";
  --bc-setting-clock-white-bg-opacity: "100";
  --bc-setting-clock-white-color: "#262421";
  --bc-setting-clock-white-text-opacity: "100";
  --bc-setting-custom-player-order: 0;
  --bc-setting-engine-arrow-color: "#003088";
  --bc-setting-engine-arrow-opacity: "40";
  --bc-setting-eval-bar-radius: "0";
  --bc-setting-eval-bar-width: "39";
  --bc-setting-eval-margin-left: "0";
  --bc-setting-eval-margin-right: "15";
  --bc-setting-eval-zero-color: "#000000";
  --bc-setting-eval-zero-opacity: "100";
  --bc-setting-eval-zero-thickness: "5";
  --bc-setting-hide-board-coords: 1;
  --bc-setting-hide-board-resize-handle: 1;
  --bc-setting-hide-chat: 0;
  --bc-setting-hide-clock-pause-icon: 1;
  --bc-setting-hide-clocks: 0;
  --bc-setting-hide-eval: 0;
  --bc-setting-hide-flag-option: 0;
  --bc-setting-hide-header: 0;
  --bc-setting-hide-liveboard-clocks: 0;
  --bc-setting-hide-liveboard-flag: 1;
  --bc-setting-hide-liveboard-photo: 1;
  --bc-setting-hide-material: 0;
  --bc-setting-hide-move-table: 0;
  --bc-setting-hide-photo: 0;
  --bc-setting-hide-profile-bg: 0;
  --bc-setting-hide-rating-option: 0;
  --bc-setting-hide-side: 0;
  --bc-setting-hide-underboard: 1;
  --bc-setting-last-move-color: "#9bc700";
  --bc-setting-last-move-opacity: "41";
  --bc-setting-liveboard-bg-color: "#2b2825";
  --bc-setting-liveboard-board-dark-color: "#b58863";
  --bc-setting-liveboard-board-light-color: "#f0d9b5";
  --bc-setting-liveboard-board-radius: "";
  --bc-setting-liveboard-clock-font: "";
  --bc-setting-liveboard-clock-font-weight: "";
  --bc-setting-liveboard-clock-radius: "";
  --bc-setting-liveboard-clock-scale: "170";
  --bc-setting-liveboard-eval-bar-gap: "4";
  --bc-setting-liveboard-eval-bar-radius: "";
  --bc-setting-liveboard-eval-bar-width: "7";
  --bc-setting-liveboard-flag-scale: "100";
  --bc-setting-liveboard-name-font: "";
  --bc-setting-liveboard-name-font-weight: "";
  --bc-setting-liveboard-name-scale: "100";
  --bc-setting-liveboard-photo-radius: "";
  --bc-setting-liveboard-profile-height: "60";
  --bc-setting-liveboard-profile-left-margin: "0";
  --bc-setting-liveboard-scale: "82";
  --bc-setting-liveboard-text-scale: "88";
  --bc-setting-liveboard-title-color: "#ffaa00";
  --bc-setting-liveboard-title-font: "";
  --bc-setting-liveboard-title-opacity: "100";
  --bc-setting-liveboard-title-scale: "100";
  --bc-setting-name-font: "";
  --bc-setting-name-font-weight: "";
  --bc-setting-page-bg-color: "#161512";
  --bc-setting-photo-radius: "0";
  --bc-setting-player-info-layout: "inline";
  --bc-setting-player-margin: "0";
  --bc-setting-player-order-gap12: "0";
  --bc-setting-player-order-gap23: "6";
  --bc-setting-player-order-gap34: "6";
  --bc-setting-player-order-list: "titleName,flag,rating";
  --bc-setting-player-profile-height: "57";
  --bc-setting-player-profile-left-margin: "0";
  --bc-setting-profile-bg-color: "#171717";
  --bc-setting-profile-item-size: "24";
  --bc-setting-rating-color: "#aaaaaa";
  --bc-setting-rating-opacity: "100";
  --bc-setting-scale-flag: 1;
  --bc-setting-scale-name: 1;
  --bc-setting-scale-rating: 1;
  --bc-setting-scale-title: 1;
  --bc-setting-show-eval-ticks: 1;
  --bc-setting-show-liveboard-bg: 1;
  --bc-setting-title-color: "#ffaa00";
  --bc-setting-title-opacity: "100";
  --bc-setting-underboard-margin: "0";
  --bc-setting-use-custom-board-colors: 1;
  --bc-setting-use-custom-liveboard-board-colors: 0;
  --bc-setting-use-custom-liveboard-style: 0;
  --bc-setting-use-custom-profile-bg-color: 1;
}
